body {
	max-width: 1100px;
	margin: auto;
}

h1 {
	text-align: center;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	width: 100%;
}

a.external-link:after {
	content: '\1F517';
	font-style: normal;
	font-weight: normal;
}

#gallery figcaption {
	display: none;
}

#gallery figure img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

#gallery figure {
	margin: 0px;
}
